{{#if isMorning}}
  <h1>Good morning!</h1>
{{else if isAfternoon}}
  <h1>Good afternoon!</h1>
{{else}}
  <h1>Good evening!</h1>
{{/if}}
<p>Welcome on Express Basic Website</p>
variable1 = {{variable1}} <br>
variable2 = {{{variable2}}} <br>
It's {{hour}}:{{min}} <br>